/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header {
    position:relative;
    height: 95vh;
    background-image: linear-gradient(to right bottom,#7ed56fc8, #55c57ac8,#28b485c8) , url("../img/hero.jpg");
    background-size: cover;
    background-position: top;

    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.logo-box {
    position:absolute;
    top: 40px;
    left: 40px;
    height: 100px;
}

.logo{
    height:25px;
}

.text-box{
    /*Both codes achieve similar results with minor adjustments
        for the same viewport.
    */

    /*
    display:flex;
    flex-direction: column;
    align-items:center;
    height: 80dvh;
    justify-content: center;*/

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading-primary{

    color: #fff;
    text-transform:uppercase;
}

.heading-primary-main{
    display:block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
}

.heading-primary-sub{
    display:block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 17.4px;
}