/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/


@import "abstract/functions";
@import "abstract/mixins";
@import "abstract/variables";

@import "base/base";
@import "base/animations";
@import "base/typography";
@import "base/utilities";

@import "components/btn";
@import "components/compositon";
@import "components/feature-box";
@import "components/card";
@import "components/story";
@import "components/video";
@import "components/form";
@import "components/popup";

@import "layout/grid";
@import "layout/header";
@import "layout/footer";
@import "layout/navigation";

@import "page/home";

