.popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 4000;
    background-color: rgba($color-black, .8);

    opacity: 0;
    visibility: hidden;

    transition: all .3s;

    &:target {
        visibility: visible;
        opacity: 1;
    }

    &:target > &__content {
        transform: translate(-50%, -50%) scale(1);
    }

    &__close {
        &:link,
        &:visited {
            color :$color-grey-dark;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            line-height: 1rem;

            display: inline-block;
            transition: all .2s;
        }

        &:hover {
            color: $color-primary;
        }
    }

    &__content {
        @include centerFixed;
        //height: 50rem;
        width: 75vw;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: 3px;
        display:table;
        overflow: hidden;

        transform: translate(-50%, -50%) scale(0);
        transition: transform .4s .2s;
    }

    &__left {
        width: 33.333333%;
        display: table-cell;
    }

    &__right {
        width: 66.666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
    }

    &__img {
        display: block;
        width: 100%;
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;
        column-count: 2;
        column-rule: 1px solid $color-grey-light-2;
        column-gap: 4rem;

        hyphens: auto;
    }
}